h1 {
	text-align: center;
	font-weight: bold;
}

label {
	font-weight: bold;
}

.card {
	margin: 5px;
}

.domSearchHistory {
	margin-top: 5px;
	margin-bottom: 5px;
}

.icons {
	height: 70px;
	width: 70px;
}